@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'tailwindcss';

@font-face {
  font-family: 'Lemon-Mojito';
  src: url('./assets/fonts/Lemon/Mojito.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@theme {
  --font-lemon-mojito: 'Lemon-Mojito', cursive;
  --font-poppins: 'Poppins', sans-serif;

  --color-pine-teal-50: #eef6f4;
  --color-pine-teal-100: #deede9;
  --color-pine-teal-200: #bddbd4;
  --color-pine-teal-300: #9cc9be;
  --color-pine-teal-400: #7ab8a8;
  --color-pine-teal-500: #59a693;
  --color-pine-teal-600: #478575;
  --color-pine-teal-700: #366358;
  --color-pine-teal-800: #24423b;
  --color-pine-teal-900: #12211d;
  --color-pine-teal-950: #0c1715;

  --color-baltic-blue-50: #eef1f6;
  --color-baltic-blue-100: #dee2ed;
  --color-baltic-blue-200: #bdc5db;
  --color-baltic-blue-300: #9ca9c9;
  --color-baltic-blue-400: #7a8cb8;
  --color-baltic-blue-500: #596fa6;
  --color-baltic-blue-600: #475985;
  --color-baltic-blue-700: #364363;
  --color-baltic-blue-800: #242c42;
  --color-baltic-blue-900: #121621;
  --color-baltic-blue-950: #0c1017;

  --color-jungle-green-50: #f2fbf8;
  --color-jungle-green-100: #d3f4e9;
  --color-jungle-green-200: #a8e7d3;
  --color-jungle-green-300: #74d4b8;
  --color-jungle-green-400: #47ba9c;
  --color-jungle-green-500: #33b092;
  --color-jungle-green-600: #227f6b;
  --color-jungle-green-700: #1f6657;
  --color-jungle-green-800: #1d5247;
  --color-jungle-green-900: #1c453d;
  --color-jungle-green-950: #0b2824;

  --background-image-header1: url('/src/assets/img/bg4.webp');
  --background-image-header: url('/src/assets/img/bg2.png')
    /*--background-image-user: url('/img/user1.png');
  --background-image-email: url('/img/email.png');
  --background-image-password: url('/img/padlock.png');*/;
}
